<!-- 
File name: bottom_nav.ejs
Student’s Name: -
StudentID: 301155132
Date: 2021.03.04.
-->

<!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display-6 navbar-text">&copy; Copyright 2020. All Rights reserved.</h6>
    </nav>
  </footer>