<!-- 
File name: footer.ejs
Student’s Name: -
StudentID: 301155132
Date: 2021.03.04.
-->

<!-- Script Section -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>
</html>